.container-question{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    height: 200px;
    background-color: #0046BF;
    border-radius: 10px;
}

.question{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 100px;
    background-color: #fff;
    border-radius: 10px;
}

.container-question p{
    font-family: "montserrat";
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    color: #0046BF;
    background-color: #FFF;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
}

.button-container{
    display: flex;
    justify-content: space-around;
    gap: 100px;
}

.button-question{
    width: 100px;
    height: 30px;
    background-color: #FFF;
    border-radius: 10px;
    border: none;
    font-family: "montserrat";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    transition: 0.2s;
}

.button-question:hover{
    background-color: #0046BF;
    color: #FFF;
    border: solid #FFF;
    transform: scale(1.05);
}

.button-download{
    width: auto;
    height: 30px;
    background-color: #FFF;
    border-radius: 10px;
    border: none;
    font-family: "montserrat";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    transition: 0.2s;
}

.button-download:hover{
    background-color: #0046BF;
    color: #FFF;
    border: solid #FFF;
    transform: scale(1.05);
}

@media (max-width: 550px) {
    .container-question{
        width: 100%;
    }
}