body {
  margin: 0;
}

picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}

a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  flex-direction: column;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 60px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.23);
}

.container-logo {
  flex: 1;
  justify-content: left;
  display: flex;
}

.container-logo > a > .logo-portorepair-header {
  margin-left: 20px;
}

.container-logo > a > .logo-portorepair-header > img {
  width: 250px;
  height: 39px;
}

.container-menu {
  flex: 1;
  display: flex;
  justify-content: center;
}

.botao-hamburguer {
  display: none;
  cursor: pointer;
}

.botao-hamburguer > picture > img {
  width: 45px;
  height: 45px;
}

.menu {
  border-radius: 10px;
  background-color: #0046BF;
  width: 400px;
  height: auto;
  align-items: center;
  justify-content: center;
}

.menu > ul {
  list-style: none;
  width: 100%;
  padding: 12px 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu > ul > li {
  display: flex;
  align-items: center;
  height: 100%;
  column-gap: 5px;
}

.menu > ul > li > a {
  display: flex;
  align-items: center;
}

.menu > ul > li > a > img {
  width: 32.887px;
  transition: 0.2s;
}

.menu > ul > li > a > img:hover {
  transform: scale(1.05);
}

.menu > ul > li > a > p {
  font-family: "Montserrat", sans-serif;
  color: #FFF;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  transition: 0.2s;
}

.menu > ul > li > a > p:hover {
  transform: scale(1.03);
  color: #ffffffd1;
}

.container-botao-log{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: right;
}
.log{
  display: flex;
  width: 240px;
  height: 60px;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 5px;
  background: #2662C8;
  align-items: center;
  justify-content: space-around;
  transition: 0.2s;
}

.log:hover{
  transform: scale(1.03);
  background-color: #fff;
  border: 1px solid #2662C8;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.15);

p{
  color: #2662C8;
}
}

.log > picture,
.log > picture img{
width: 50px;
height: 50px;
}

.log > p{
  color: #FFF;
  font-family: "Inria Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer{
  margin-top: 60px
}

footer > nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #F5F5F5;
  padding: 20px 0 20px 0;
}

footer > nav > ul{
  list-style-type: none;
  display: flex;
  width: 100%;
  padding-left: 0;
  flex-wrap: wrap;
}

#footer-porto,
#footer-portorepair,
#footer-portorepairia{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

#footer-porto > picture > img{
  width: 129px;
  height: 30.61px;
}
#footer-portorepair > picture > img{
  width: 164.348px;
}

#footer-portorepairia > picture > img{
  width: 164px;
}

/* Responsividade */
@media (max-width: 950px) {
  .botao-hamburguer {
    display: flex;
  }

  .hidden {
    display: none;
  }
  
  .visible {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 60px;
    width: 120px;
    height: 200px;
    background-color: #0046BF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu > ul {
    flex-direction: column;
    align-items: center;
  }

  .menu > ul > li {
    width: 100%;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 576px) {
  header {
    flex-direction: column-reverse;
    row-gap: 10px;
    justify-content: center;
  }

  .container-logo {
    display: none;
  }

  footer > nav > ul {
    flex-direction: column;
    row-gap: 40px;
  }

  .menu {
    position: absolute;
    top: 130px;
    width: 120px;
    height: 200px;
    background-color: #0046BF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
